// Resources
params {
    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Set default values
    outdir   = './results'
    tracedir = "${params.outdir}/pipeline_info"
}

// Singularity
singularity.enabled    = true
singularity.autoMounts = true
singularity.runOptions = '--bind /lustre --bind /nfs'

// Publishing
process {
    publishDir = { "${params.outdir}/pipeline_info" }

    withName: SAMTOOLS_VIEW {
        publishDir = [
            path: { "${meta.outdir}/testing" },
            mode: 'copy',
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}
