/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    sanger-tol/genomenote Nextflow base config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

process {

    // TODO nf-core: Check the defaults for all processes
    cpus   = { 1      * task.attempt }
    memory = { 6.GB   * task.attempt }
    time   = { 4.h    * task.attempt }

    errorStrategy = { task.exitStatus in ((130..145) + 104 + 175) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // In this configuration file, we give little resources by default and
    // explicitly bump them up for some processes.
    // All rules should still increase resources every attempt to allow the
    // pipeline to self-heal from MEMLIMIT/RUNLIMIT.

    // Default
    cpus   = 1
    memory = { 50.MB * task.attempt }
    time   = { 30.min * task.attempt }

    // These processes typically complete within 30 min to 1.5 hours.
    withName: 'BED_SORT|BEDTOOLS_BAMTOBED|COOLER_CLOAD|COOLER_ZOOMIFY|FILTER_BED' {
        time   = { 4.hour * task.attempt }
    }

    // These processes may take a few hours.
    withName: 'FILTER_SORT|SAMTOOLS_VIEW' {
        time   = { 8.hour * task.attempt }
    }

    withName: SAMTOOLS_VIEW {
        memory = { 1.GB  * task.attempt }
    }

    withName: GFASTATS {
        memory = { 1.GB * 1.2 * Math.ceil(meta.genome_size/1e9) * task.attempt }
    }

    withName: FASTK_FASTK {
        memory = { 12.GB * task.attempt }
        cpus   = { log_increase_cpus(4, 2*task.attempt, 1, 2) }
    }

    withName: MERQURYFK_MERQURYFK {
        time   = { 10.min * Math.ceil(meta.genome_size/1000000000) * task.attempt }
        // Memory usage is probably correlated to the diversity of k-mers found
        // in the assembly, which grows with the genome size but then plateaus.
        // The memory is increased by half of the base value at every attempt.
        memory = { (
                        meta.genome_size <  100000000 ?  6.GB :
                        meta.genome_size <  500000000 ? 12.GB : 24.GB
                    ) * ((task.attempt+1)/2)  }
        cpus   = { log_increase_cpus(4, 2*task.attempt, 1, 2) }
    }

    withName: FASTK_HISTEX {
        memory = { 100.MB * task.attempt }
    }

    withName: GENESCOPEFK {
        memory = { 400.MB * task.attempt }
    }

    withName: BUSCO {
        // The formulas below are equivalent to these ranges:
        // Gbp:    [ 1,  2,  4,   8,  16]
        // CPUs:   [ 8, 12, 16,  20,  24]
        // GB RAM: [16, 32, 64, 128, 256]
        memory = { 1.GB * Math.pow(2, 3 + task.attempt + Math.ceil(positive_log(meta.genome_size/1000000000, 2)))  }
        cpus   = { log_increase_cpus(4, 4*task.attempt, Math.ceil(meta.genome_size/1000000000), 2) }
        time   = { 3.h * Math.ceil(meta.genome_size/1000000000) * task.attempt }
    }

    withName: 'BED_SORT|FILTER_SORT' {
        cpus   = { log_increase_cpus(2, 2*task.attempt, 1, 2) }
        memory = { 16.GB * task.attempt }
    }

    withName: COOLER_CLOAD {
        memory = { 6.GB  * task.attempt }
    }

    withName: COOLER_DUMP {
        memory = { 100.MB * task.attempt }
    }

    withName: COOLER_ZOOMIFY {
        cpus   = { log_increase_cpus(2, 2*task.attempt, 1, 2) }
        memory = { (meta.genome_size < 1000000000 ? 16.GB : 24.GB) * task.attempt }
    }

    withName: MULTIQC {
        memory = { 500.MB  * task.attempt }
        time   = { 1.hour * task.attempt }
    }

    withName: AGAT_SQSTATBASIC {
        memory = { 500.MB  * task.attempt }
    }

    withName: AGAT_SPSTATISTICS {
        memory = { 3.GB  * task.attempt }
    }

    withName: BUSCOPROTEINS {
        memory = { 4.GB * task.attempt }
        cpus   = { log_increase_cpus(2, 2*task.attempt, 1, 2) }
        time   = { 2.h * task.attempt }
    }

    withName: SAMTOOLS_FAIDX {
        memory = { 100.MB  * task.attempt }
    }

    withName: ANCESTRAL_EXTRACT {
        memory = { 100.MB * task.attempt }
    }

    withName: ANCESTRAL_PLOT {
        memory = { 300.MB * task.attempt }
    }

    withName: PRETEXTMAP {
        cpus    = { 4        * task.attempt }
        memory  = { 3.GB     * task.attempt }
        time    = { 1.h      * ( fasta.size() < 4e9 ? 24 : 48 ) * task.attempt }
    }

    withName: PRETEXTSNAPSHOT {
        cpus    = { 1        * task.attempt }
        memory  = { 1.GB     * task.attempt }
    }
    withLabel: process_gpu {
        ext.use_gpu = { workflow.profile.contains('gpu') }
        accelerator = { workflow.profile.contains('gpu') ? 1 : null }
    }
}
