/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    withName: SAMTOOLS_VIEW {
        ext.args = '-F0x400 --output-fmt bam'
    }

    withName: BED_SORT {
        ext.args   = { "-k4 --parallel=${task.cpus} -S${task.memory.mega - 100}M" + (params.use_work_dir_as_temp ? " -T." : "") }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: FILTER_SORT {
        ext.args   = { "-k3,3d -k7,7d --parallel=${task.cpus} -S${task.memory.mega - 100}M" + (params.use_work_dir_as_temp ? " -T." : "") }
        ext.prefix = { "${meta.id}_sorted" }
    }

    withName: COOLER_CLOAD {
        ext.args = 'pairs -0 -c1 3 -p1 4 -c2 7 -p2 8'
    }

    withName: COOLER_DUMP {
        ext.args = '-t chroms'
    }

    withName: 'COOLER_.*' {
        ext.prefix = { "${meta.assembly}.hic.${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/contact_maps/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: BUSCO {
        scratch  = { !params.use_work_dir_as_temp || (meta.genome_size < 2000000000) }
        ext.args = {
            'test' in workflow.profile.tokenize(',')
                ? '--tar'
                : '--tar --metaeuk'
        }
    }

    withName: RESTRUCTUREBUSCODIR {
        ext.prefix = { "${meta.id}.${lineage}" }
        publishDir = [
            path: { "${params.outdir}/busco" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals("versions.yml") ? null : filename },
        ]
    }

    withName: SUMMARYSEQUENCE {
        ext.prefix = { "${meta.id}_sequence" }
        ext.args   = "--report sequence"
    }

    withName: FASTK_FASTK {
        scratch  = false
        ext.args = { "-t1 -k${params.kmer_size}" + (params.use_work_dir_as_temp ? " -P." : "") }
        publishDir = [
            path: { "${params.outdir}/genome_stats/${meta.datatype}/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename == 'SOURCE.txt' ? filename : null }
        ]
    }

    withName: FASTK_HISTEX {
        ext.args = "-G"
    }

    withName: GENESCOPEFK {
        ext.prefix = { "${meta.assembly}.${meta.datatype}.${meta.id}.genomescope" }
        publishDir = [
            path: { "${params.outdir}/genome_stats/${meta.datatype}/${meta.sample}/genomescope" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
        ext.args   = "-k${params.kmer_size}"
    }

    withName: MERQURYFK_MERQURYFK {
        ext.prefix = { "${meta.assembly}.${meta.datatype}.${meta.id}.merqury" }
        ext.args   = { (params.use_work_dir_as_temp ? "-P." : "") }
        publishDir = [
            path: { "${params.outdir}/genome_stats/${meta.datatype}/${meta.sample}/merqury" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replaceAll(/_only.bed$/, '.only.bed') },
        ]
    }

    withName: CREATETABLE {
        publishDir = [
            path: { "${params.outdir}/genome_note" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: GFASTATS {
        ext.args   = { "--nstar-report" }
        publishDir = [
            path: { "${params.outdir}/genome_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replaceAll("assembly_summary","gfastats.txt") },
        ]
    }

    withName: MULTIQC {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.endsWith(".html") ? filename : null }
        ]
    }

    withName: COMBINE_STATISTICS_AND_METADATA {
        publishDir = [
            path: { "${params.outdir}/genome_note" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: POPULATE_TEMPLATE {
        memory     = { 100.MB * task.attempt }
        publishDir = [
            path: { "${params.outdir}/genome_note" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: GENERATE_HIGLASS_LINK {
        ext.prefix = { "${meta.assembly}.hic.${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/contact_maps/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: AGAT_SQSTATBASIC {
        ext.prefix = { "${meta.id}_sqstats" }
    }

    withName: AGAT_SPSTATISTICS {
        ext.prefix = { "${meta.id}_spstats" }
    }

    withName: EXTRACT_ANNOTATION_STATISTICS_INFO {
        ext.prefix = { "${params.assembly}.${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/gene/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }

    withName: GFFREAD {
        ext.args = "-y"
    }

    withName: BUSCOPROTEINS {
        scratch  = { !params.use_work_dir_as_temp || (meta.genome_size < 2000000000) }
        ext.args = { '--tar' }
    }

    withName: ANCESTRAL_EXTRACT {
        ext.prefix = { "${meta.id}_buscopainter" }
    }

    withName: ANCESTRAL_PLOT {
        ext.prefix = { "${meta.id}.${meta.lineage}" }
        ext.args   = { '-m True -d True' }
        publishDir = [
            path: { "${params.outdir}/ancestral_plots/${meta.lineage}/${comp_location.baseName}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : "${meta.id}.${meta.lineage}." + filename.replace("_buscopainter.",".buscopainter.") },
        ]
    }

    withName: PRETEXTMAP {
        ext.args   = { "--sortby length --mapq 0" }
        ext.prefix = { "${meta.id}_standard_pi" }
    }

    withName: PRETEXTSNAPSHOT {
        ext.args   = "--sequences '=full' --resolution 1440"
        ext.prefix = { "${meta.id}_standard" }
    }

    withName: 'PRETEXTSNAPSHOT|PRETEXTMAP' {
        ext.prefix = { "${meta.assembly}.hic.${meta.id}" }
        publishDir = [
            path: { "${params.outdir}/contact_maps/${meta.sample}" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename.replaceAll(/FullMap.png$/, '.pretext.png') },
        ]
    }

    withName: BLOBTK_PLOT {
        ext.prefix = { "${meta.id}.${extra_args.name}" }
        ext.args   = { "--scale-factor 0.6 ${extra_args.args}" }
        publishDir = [
            path: { "${params.outdir}/blobtoolkit/plots/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
}
