params {
    config_profile_description = 'The Wellcome Sanger Institute Tree of Life HPC cluster profile'
    config_profile_contact = 'Priyanka Surana (@priyanka-surana)'
    config_profile_url = 'https://www.sanger.ac.uk'
}

process{
    executor = 'lsf'
    queue = { task.time < 12.h ? 'normal' : task.time < 48.h ? 'long' : 'basement' }
    errorStrategy = 'retry'
    maxRetries = 5
}

executor{
    name = 'lsf'
    perJobMemLimit = true
    poolSize = 4
    submitRateLimit = '5 sec'
    killBatchSize = 50
}

params {
    max_memory = 683.GB
    max_cpus = 256
    max_time = 720.h
}

singularity.runOptions = '--bind /lustre --bind /nfs'
