/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Test profile for hifi-trimmer
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/

params {
    config_profile_name        = 'Test profile for hifi-trimmer'
    config_profile_description = 'Minimal test dataset to check hifi-trimmer functionality'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = 'https://raw.githubusercontent.com/sanger-tol/genomenote/test-data/test_data/hifi_trim/samplesheet.csv'
    fasta = 'https://raw.githubusercontent.com/sanger-tol/genomenote/test-data/test_data/hifi_trim/test.fasta'
    
    // Test parameters
    assembly = 'GCA_000001405.15'
    biosample_wgs = 'SAMN00000000'
    
    // Disable optional features
    write_to_portal = false
    upload_higlass_data = false
} 