/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/genomenote -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data for full size test
    input   = "gfLaeSulp1"
    project = ".sandbox_ps22"
    //input = "/lustre/scratch124/tol/projects/.sandbox_ps22/data/fungi/Laetiporus_sulphureus/analysis/gfLaeSulp1.1/testing/samplesheet.csv"

    // Genome references
    //fasta = "/lustre/scratch124/tol/projects/.sandbox_ps22/data/fungi/Laetiporus_sulphureus/analysis/gfLaeSulp1.1/assembly/GCA_927399515.1.fasta.gz"
}
