/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/genomenote -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input   = "mMelMel3"
    project = ".sandbox_ps22"
    kmer = "/lustre/scratch124/tol/projects/darwin/data/fungi/Laetiporus_sulphureus/genomic_data/gfLaeSulp1/pacbio/kmer/k31/"
    //input = "/lustre/scratch124/tol/projects/.sandbox_ps22/data/mammals/Meles_meles/analysis/mMelMel3.2_paternal_haplotype/testing/samplesheet.csv"

    // Genome references
    //fasta = "/lustre/scratch124/tol/projects/.sandbox_ps22/data/mammals/Meles_meles/analysis/mMelMel3.2_paternal_haplotype/assembly/indices/GCA_922984935.2.subset.unmasked.fasta"
}
