/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run sanger-tol/genomenote -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus   = 2
    max_memory = '6.GB'
    max_time   = '6.h'

    // Input data
    input = "${projectDir}/assets/samplesheet.csv"

    // Fasta references
    fasta = "https://tolit.cog.sanger.ac.uk/test-data/Cloeon_dipterum/assembly/release/ieCloDipt1.1/insdc/GCA_949628265.1.fasta.gz"

    // Reducing the k-mer size to speed FastK/Merqury a little bit, but also decrease the memory consumption
    kmer_size = 11

    // Input data for genome_metadata subworkflow
    assembly = 'GCA_949628265.1'
    species  = 'Cloeon_dipterum'
    taxon_id = '197152'
    bioproject = 'PRJEB45177'
    biosample =  'SAMEA7520803'

    // Genome Notes Portal
    write_to_portal  = false
    genome_notes_api = "https://notes-staging.tol.sanger.ac.uk/api/v1"

    // HiGlass Options
    upload_higlass_data = false
    higlass_url = "http://genome-note-higlass.tol-dev.sanger.ac.uk"
    higlass_deployment_name = "higlass-app-genome-note"
    higlass_namespace = "tol-higlass-genome-note"
    higlass_kubeconfig = "~/.kube/config.tol-it-dev-k8s"
    higlass_upload_directory  = "/lustre/scratch123/tol/share/genome-note-higlass/data_to_load"
    higlass_data_project_dir = "/darwin/insects"
}
